/* version 11 */
 
/*   *{ 
    font-family: 맑은 고딕; 
    font-size: 20px;
    margin: 0px;
    padding: 0px;  
  }
  
   header{ 
    height: 50px; 
    background-color: rgba(125, 211, 242,0.5); 
    border-radius: 15px; 
    padding: 10px; 
    margin:10px 0;
    font-family: 맑은 고딕;  
    text-align: center;
  } 

#main_left {
   position:fixed; 
   width:100px; 
   height:100%;
   float:left;
   
}

.container{
   with:80%;
   margin:0;
   float:left;
}
  */
  
DIV.standout {
    width: 13em;
    height: 8em;
    border: solid black 1em;
    border-radius: 7.5em 5em }
    
p { width: 70px; height: 70px; border: solid 30px;
    border-color: orange orange silver silver;
    border-top-right-radius: 100%; 
   width: 100px; height: 100px;
   border: 12px solid blue; background-color: orange;
   border-top-left-radius: 60px 90px;
   border-bottom-right-radius: 60px 90px;
   box-shadow: 64px 64px 12px 40px rgba(0,0,0,0.4),
               12px 12px 0px 8px rgba(0,0,0,0.4) inset;
}
  
/* 전체 스타일 */
        
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  *{ 
    font-family: 'Nanum Gothic', serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;  
    list-style: none;
  }
  
  a{
   color:black;
  }
  
  a.menu_style{
   color:white;
  }
  
/* left를 제외한 스타일 */
  body{
   width:80%;
   margin-left:130px;
  }
  
/* top 스타일 */
  
  header{ 
    height: 35px; 
    background-color: #e6e6e6; 
    
    z-index: 2;
    font-family: 맑은 고딕;  
    text-align: center;
  }
  .member-list {
    margin:5px 8px 0 0;
  
  }
  
 .member-list li {
    float:left;
    list-style: none;
    padding-left:8px;
  }
 .member-list li a {
    font-size:12px;
  }

/* left */  

   /* 로고 */
   #logo {
      width:70px;
      margin:20px auto;
   }
   #logo img {
      width:70px;
   }
   
  #main_left {
    height:100%;
    position:fixed; 
    top:0;
    left:0;
    z-index: 3;
  }
  
  #main_left_left{
    width:130px; 
    height:100%;
    float:left;
    color:white;
    /* background-color: #737373; */
  }
  
  .left_list_form {
      margin-right:20px;
      margin-top:100px;
  }
  
   #main_left_detail{
      
      display:none;
      position:absolute;
      left:130px;
      width:130px;
      
      background-color:#575757;
   }
  
  
  .left_list{
    position:relative;
    margin-top:5px;
    padding-top:5px;
    padding-bottom:5px;
    border:1px solid orange;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    background-color:orange;
    z-index: 1;
  }
  
  
  .menu_style {
    margin-left:20px; 
   
  }
  
  .left_list_detail {
    display:none;
    position:relative;
    top:-15px;
    left:0px;
    z-index: 0;
    height:100px;
    border-bottom-right-radius: 15px ;
    background-color:orange;
  }

/* index 안에 있는 태그 스타일 */

   .container{
      width:100%;
   }
   
   nav ul li {
      list-style:none;
   }
   nav {
      margin-top:30px;
   }
   footer{
      text-align: center;
   }
 
 