
    /* CSS 초기화 */
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
        margin: 0;
        padding: 0;
    }
 
    html, body {
        margin: 0;
        padding: 0;
    }
 
    table {
        border-collapse: collapse; /* 셀의 테두리 선을 겹쳐서 표시 */
        border-spacing: 0; /* 테이블 셀 요소의 테두리 간격 지정 */
    }
 
    fieldset, img {
        border: 0;
    }
 
    input[type=text],input[type=password] {
        border-style:none;
        border-bottom: 1px solid #b0b0b0;
        background-color:transparent;
        
    }
    
    select {
        border-style:none;
        border-bottom: 1px solid #b0b0b0;
        background-color:transparent;
    
    }
 
    address, caption, cite, code, dfn, th, var {
        font-style: normal;
        font-weight: normal;
    }
 
    ol, ul {
        list-style: none;
    }
 
    caption, th {
        text-align: left;
    }
 
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: normal;
    }
 
    q:before, q:after {
        content: '';
    }
 
    abbr, acronym {
        border: 0;
    }
    
    a{
      text-decoration: none;
      color:black;
    }
    
    a:HOVER {
      text-decoration: none;
    }
  
    .menu_top:HOVER {
      text-decoration:none;
      display:block;
      padding:inherit;
      background: white;
      text-shadow:none;
    }
      
 
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  *{ 
    font-family: 'Nanum Gothic', serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;  
    list-style: none;
  }
  
    
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  *{ 
    font-family: dotum,"돋움";
    
    font-size: 15px;
    color:black;
    margin: 0px;
    padding: 0px;  
    list-style: none;
  }
  
  a{
   color:black;
  }
  a:HOVER {
   text-decoration: none;
  }
/*   
  a.menu_style{
   color:white;
  }
 */  
/* left를 제외한 스타일 */
  body{
   width:80%;
   margin:0 auto;
  }
  
/* top 스타일 */
  
  header{ 
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 2;
    font-family: 맑은 고딕;  
    text-align: center;
    
  }
  /* 
  #member{
    background-color: #e6e6e6; 
    background-repeat:no-repeat;
    background-size: 100% 40px;
    height:35px;
  
  }
   */
  #member_b, div#category{
    width:80%;
    margin:0 auto;
  }
  .member-list {
    margin:5px 8px 0 0;
  
  }
  
 .member-list li {
    float:left;
    list-style: none;
    padding-left:8px;
    margin-left:8px;
  }
 .member-list li a {
    font-size:12px;
  }
  
  div#category{
   position: relative;
  }
  div#category_b{
   width:100%;
   border-top:2px solid #3b78ce;
   border-bottom:2px solid #3b78ce;
  
  }
  
    #menu_top{
    display:block;
    width:100%;
    line-height:50px;
    z-index: 1;
    font-weight:bold;
    background: url(../images/downarrow.png) no-repeat left center ;
    background-size: 40px 40px;
    background-position: 15px;
  }
  
  .login{
   background: url(${pageContext.request.contextPath}/images/login.png) no-repeat left center;
   background-size:16px; 
   background-position: 6px
  }
  .join{
   background: url(${pageContext.request.contextPath}/images/login.png) no-repeat left center;
   background-size:16px; 
   background-position: 6px;
  }
  .logout{
   background: url(${pageContext.request.contextPath}/images/logout.png) no-repeat left center;
   background-size:16px; 
   background-position: 6px;
  }
  .mytm{
   background: url(${pageContext.request.contextPath}/images/logout.png) no-repeat left center;
  }
  .orderDelivery{
   background: url(${pageContext.request.contextPath}/images/truck.png) no-repeat left center;
   background-size:20px;
  }
  .cart{
   background: url(${pageContext.request.contextPath}/images/cart.png) no-repeat left center;
   background-size:20px;
  }
  .cs{
   background: url(${pageContext.request.contextPath}/images/headphones.png) no-repeat left center;
   background-size:18px;
  }
  

   /* 로고 */
   #logo {
      width:100%;
      height: 90px;
   }
   #logo img {
     margin-top:10px;
  
   }
   
/* left */  

   
  #main_left {
   width:100%;
  }
  
  #main_left_left{
    color:white;
    /* background-color: #737373; */
  }
  
  .left_list_form {
      display:block;
      width:20%;
      margin:0;
      float:left;
  }
  
  
  
  .left_list{
    display:block;
    width:100%;
    line-height:50px;
    padding-left:20px; 
    border:1px solid #3b78ce;
    border-bottom:none;
    border-bottom-left-radius: 5px; 
    border-top-left-radius: 5px; 
    z-index: 1;
    font-weight:bold;
  }
  
  .menu_style {
    padding-left:20px; 
   
  }
  .left_detail{
    display:none;
    position:absolute;
    top:170px;
    left:26%;
    width:16%; 
    height:409px; 
    background-color:#3b78ce;
  }
  
  
  .left_detail a{
    color:white;
    display:block;
    padding:10px 20px;
    border-bottom:1px solid white;
  
  }
  #left_list_8{
   border-bottom:1px solid #3b78ce;
  }
  

  
  .left_list_detail {
    display:none;
    position:relative;
    top:-15px;
    left:0px;
    z-index: 0;
    height:100px;
    border-bottom-right-radius: 15px ;
    background-color:orange;
  }

/* top & left 스타일 */

  .menu_style {
   
   margin-right: 20px;
   
  }

/* index 안에 있는 태그 스타일 */

   .container{
      width:100%;
   }
   
   footer{
      text-align: center;
   }
   
   /* 등록페이지 */

   .title{
      width:100%;
      background:url(../images/dropdown-line.png);
      background-size:100% auto;
      color:white;
      padding:5px 0px;
   }
   .title span{
      margin-left:15px;
      font-weight:bold;
   }
   .content_form{
      width:80%;
      margin:30px;
      
   }
   
   .line_box{

      position:relative;
      top:-10px;
      padding:7px;
      z-index: 1;
      border-top: 1px solid black;
      
   }
   #ul_box_{
     /*  background-color:#FFE4E1;
      background-color: black; */
   border-top: 1px solid black;
      /* opacity:0.2; */
      /* border:5px solid #FFE4E1; */
      /* background:rgba(255, 228, 225, 0.4); */
      
   
   }
   #ul_box_{
      background-color: transparent;
      background-color:#B0E0E6;
      background-color: black;
   
   }
   
      
   
   .inpo{
      position:relative;
      left:20px;
      width:100px;
      text-align:center;
      border:1px solid white;
      background-color:white;
      border-bottom-left-radius: 10px 10px;
      border-bottom-right-radius: 10px 10px;
      z-index: 2;
      
   }
   
   .need{
      margin-left:15px;
      background: url(/junggo/images/check_red.png) no-repeat left;
      background-size:15px;
   }
   .need_e{
      padding-left:15px;
      background: url(/junggo/images/check_red.png) no-repeat left;
      background-size:15px;
   }
   .choice{
      margin-left:15px;
      background: url(/junggo/images/check_green.png) no-repeat left;
      background-size:15px;
   
   }
   .choice_e{
      margin-left:15px;
      padding-left:15px;
      background: url(/junggo/images/check_green.png) no-repeat left;
      background-size:15px;
   }

/* 보류 */   
   fieldset{
      border-style: none;
      position:relative;
   }
   
   
   /* 단일 스타일 */
   .float_l{
      float:left;
   }
   .float_r{
      float:right;
   }
   
   ._left {
      width:40%;
   }
   ._right {
      width:40%;
      margin-left:10%;
   }
   
   .full{
      width:100%;
   }
   .both{
      clear:both;
   }
   
   .text_r{
      text-align: right;
   }
   .text_l{
      text-align: left;
   
   }
   .text_c{
      text-align: center;
   }
   input[type=radio]{
      margin-left:10px;
      margin-right:10px;
   } 
   .radio_text {
      margin-right:5%;
   }

 
 